<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug-only ADB entry for device UI verification without test-account credentials. -->
        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunFeatureActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.SelfDetailActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.XingDunProfileEditorActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.XingDunProfilePreviewActivity"
            android:exported="true"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunEnglishFeatureActivity"
            android:exported="true"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupInfoPreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupQRCodePreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />
        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.launch.XingDunEnglishLaunchActivity"
            android:exported="true"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
