<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name="io.trtc.tuikit.chat.demo.Application"
        android:icon="@drawable/xingdun_brand_logo"
        android:label="@string/demo_app_name"
        android:roundIcon="@drawable/xingdun_brand_logo"
        android:supportsRtl="true"
        android:theme="@style/demo_Theme_ChatView">

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.launch.XingDunEnterpriseAccessActivity"
            android:exported="true"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="api.xingdunim.com"
                    android:path="/prod/xingdun/share.html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="xingdun" android:host="invite" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.launch.XingDunLaunchActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.launch.XingDunRegistrationActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.launch.XingDunPasswordResetActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.main.MainActivity"
            android:exported="true"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.chat.ChatActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunFeatureActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunQRCodeScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunContactDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunVerificationMessagesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunBlacklistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupAvatarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupAnnouncementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupAdministratorsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupMembersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupTransferOwnerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunGroupNicknameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunAutoDeleteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.xingdun.features.XingDunPinnedMessagesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.chat.ChatSettingActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.SelfDetailActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.XingDunProfileEditorActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.XingDunSystemSettingsActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.VoiceMessageSettingActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.VoiceCloneActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.VoiceSelectActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.search.SearchActivity"
            android:exported="false"
            android:theme="@style/Chat_UIKit_Theme"
            android:windowSoftInputMode="adjustNothing" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.xingdun.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xingdun_file_paths" />
        </provider>

    </application>
</manifest>
